h2 {
  font-size: 1.6rem;
}

#user-info {
  text-align: center;
  margin-bottom: 2rem;

  h2 {
    // border: 1px solid red;
    width: 50%;
    margin-left: 22%;
  }
}

#fav-list-container {
  //border: 1px solid red;

  h2 {
    text-align: center;
  }

  div {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;

    mat-card {
      margin-bottom: 1rem;
    }
  }
}