<app-navbar></app-navbar>
<mat-card id="user-info">
  <mat-card-header>
    <h2>My Profile</h2>
  </mat-card-header>
  <mat-card-content>
    <h3><b>Username: </b>{{ this.user.Username }}</h3>
    <h3><b>Email: </b>{{ user.Email }}</h3>
    <h3><b>Birthday: </b>{{ user.Birthday | date: "mediumDate" }}</h3>
    <br />
    <button
      class="profile-btn"
      mat-raised-button
      (click)="openEditUserProfile()"
      style="margin-right: 10px"
      color="primary"
    >
      Edit Profile
    </button>
    <button
      class="profile-btn"
      color="warn"
      mat-raised-button
      (click)="deleteProfile()"
    >
      Delete Profile
    </button>
  </mat-card-content>
</mat-card>
<!-- +++++++++++++++++++++++++++ -->

<div id="fav-list-container">
  <h2>My favorite movies</h2>
  <div>
    <mat-card *ngFor="let movie of favorite; let i = index">
      <mat-card-content>
        <img
          src="{{ movie.ImagePath }}"
          alt="{{ movie.Title }}"
          style="height: 325px"
        />
      </mat-card-content>
      <mat-card-actions>
        <mat-icon
          class="fav-icon"
          class="profile-btn"
          (click)="removeFav(movie._id)"
          style="margin-right: 10px"
          color="primary"
        >
          favorite
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
